<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @client.registration_number %>
</p>

<p>
  <strong>Course:</strong>
  <%= @client.course %>
</p>

<p>
  <strong>Results:</strong>
  <%= @client.results %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
